:root {
    --color-orange: #ff794d;
    --color-blue: #5d22dc;
    --icon-transition: transform 0.3s cubic-bezier(0.69, -1.82, 0.24, 3.05);

    --font-android: 'Raleway';
    --font-ios: 'Raleway';
    --font-common: 'Raleway';
}

.iconBig {
    width: 36px !important;
    height: 36px !important;
}

.iconBig svg {
    width: 36px !important;
    height: 36px !important;
}

.textOrange--ios,
.textOrange--android {
    color: var(--color-orange);
}

.View {
    background: var(--background_content);
}

#root {
    font-family: var(--text-font);
}

.PanelHeader--android .PanelHeader-bg,
.PanelHeader--ios .PanelHeader-bg {
    box-shadow: none;
}

.PanelHeader-content > span {
    font-weight: bold;
}

.Group {
    box-shadow: none;
}

.div-center {
    display: table;
    margin: 0 auto;
}

.div-center img {
    width: 10rem;
}

.buttons-group {
    display: flex;
}

.buttons-group button:first-child {
    margin-right: 8px;
}

a,
div,
img,
p,
button {
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

.FormLayout__row-top {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
}

.Tabbar {
    transition: 0.3s ease-in-out;
    background: var(--background_content);
}

.TabbarItem {
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.TabbarItem__hidden {
    transform: translateY(50px);
}

.TabbarItem__hidden_delay_1 {
    transition-delay: 100ms;
}

.TabbarItem__hidden_delay_2 {
    transition-delay: 200ms;
}

.TabbarItem__hidden_delay_3 {
    transition-delay: 300ms;
}

.CellButton__in {
    color: var(--color-blue);
    font-weight: bold;
    text-transform: uppercase;
}

.Tappable.HeaderButton {
    margin-left: 40px;
}

.PanelHeader__container .Icon {
    color: var(--color-blue);
}

.PanelHeader__container span {
    font-size: 20px;
}

.Tabbar--ios.Tabbar--shadow::before {
    height: 0;
}

.Tabbar--android.Tabbar--shadow {
    box-shadow: none;
}

.PanelHeader--ios .PanelHeader-bg::after {
    display: none;
}

.photoWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: calc(100vh - 48px);
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    overflow: hidden;
}

.photoBox {
    order: 0;
    flex: 1;
    align-self: auto;
    margin-top: auto;

    position: relative;
    height: 324px;
    max-height: 324px;
    width: 400px;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.photoBox.active {
    transform: scale(0.8);
    transition: 0.3s ease-in-out;
}

.photoRound {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-size: contain;
    background-position: center center;
    transition: 0.3s;
}

.photoRound-1 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    cursor: pointer;
    background-color: grey;
}

.photoRound-2 {
    position: absolute;
    top: 63%;
    right: 5%;
    transform: translate(-5%, -50%);
    z-index: 2;
    cursor: pointer;
    background-color: #f2f2f2;
}

.photoRound-3 {
    position: absolute;
    bottom: 0;
    left: 30%;
    transform: translate(-43%, 0);
    height: 200px;
    width: 200px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoRound-3 p {
    font-weight: 700;
    font-size: 14px;
    color: white;
    transform: translate(-20%, 10%);
}

.photoRound-3.women-gradient {
    background: linear-gradient(147.3deg, #ff794d 15.4%, #e000ab 89.99%);
    box-shadow: 0px 0px 20px rgba(255, 121, 77, 0.2);
}

.photoRound-3.men-gradient {
    background: linear-gradient(329.58deg, #ff794d 13.55%, #5d22dc 85.02%);
    box-shadow: 0px 0px 20px rgba(255, 121, 77, 0.2);
}

.actionsButton {
    padding: 1rem 2rem;
    background: var(--color-blue);
    border-radius: 100px;
    color: white;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.07em;
    cursor: pointer;
    margin: 0 auto;
}

.actionsWrapper {
    display: flex;
    width: 62%;
    margin: 0 19%;
    justify-content: space-between;
    align-items: center;
}
