.Placeholder__header {
    font-weight: bold !important;
}

.orange-background {
    background: var(--color-orange) !important;
}
.score {
    background: linear-gradient(180deg, #ff794d 0%, #ffbe43 100%);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
    margin-right: 10px;
}

.cell-wrapper .Cell__description {
    font-size: 15px !important;
}

.cell-wrapper .Cell__children {
    font-size: 18px;
    font-weight: bold;
}
.cell-wrapper .Cell__main {
    display: flex;
    flex-direction: column;
    align-self: center;
}
