.profileWrapper {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1rem;
}

.name-title {
    font-weight: 700;
    font-size: 20px;
    color: var(--text_primary);
    margin: 0;
}

.name-secondary.name-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text_secondary);
    text-transform: capitalize;
}

.selectsWrapper {
    padding: 12px;
    display: flex;
    justify-content: flex-start;
}

.selectButton {
    padding: 0.7rem 1.3rem;
    background: white;
    color: #333;
    transition: 0.6s cubic-bezier(0.71, -0.47, 0.21, 1.28);
    border: 2px solid var(--color-blue);
    outline: 0;
    border-radius: 10px;
    font-weight: 800;
    cursor: pointer;
    margin-right: 1rem;
}

.selectButton.active {
    background: var(--color-blue);
    color: white;
    transition: 0.6s cubic-bezier(0.71, -0.47, 0.21, 1.28);
    box-shadow: 0 0 11px 0px #5d22dc82;
}

.selectButton:last-child {
    margin: 0;
}

/* @media only screen and (max-width: 500px) {
    .selectsWrapper {
        justify-content: space-between;
    }
    .selectButton {
        margin: 0;
    }
} */

.titleAbout {
    font-weight: 800;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1px;
    color: #ff794d;
    color: var(--color-orange);
    margin-bottom: 0.3rem;
}

.titleAbout span {
    color: var(--text_primary);
}

.descriptionAbout {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: 15px;
    color: var(--text_primary);
}

.descriptionAbout span {
    font-weight: 600;
    color: var(--text_primary);
}

.descriptionAbout a {
    font-weight: 600;
    color: var(--color-blue);
}
