.rateBox {
    order: 1;
    flex: 0;
    align-self: auto;

    width: 100%;
    height: auto;
    flex-direction: column;
    justify-items: center;
    text-align: center;

    margin-top: auto;
    margin-bottom: auto;
}
.rateBox p {
    font-size: 18px;
    font-weight: 700;
}

.input-range {
    display: flex;
    width: 80% !important;
    margin: 0 10%;
}

.input-range__track {
    background: linear-gradient(357.38deg, #5d22dc 12.15%, #ff794d 81.77%) !important;
}

.input-range__slider {
    background: white !important;
    box-shadow: 0px 0px 10px rgba(104, 40, 211, 0.3) !important;
    border: none !important;
    margin-top: -1.2rem !important;
    width: 2rem !important;
    height: 2rem !important;
}

.input-range__label--max,
.input-range__label--min {
    display: none !important;
}
.input-range__label--value {
    top: -0.86rem !important;
    left: 0.5rem !important;
    z-index: 10 !important;
    pointer-events: none;
    font-size: 1rem !important;
}
.input-range__label-container {
    font-family: 'Raleway';
    color: #5d22dc;
    font-weight: 500;
}
.sliderWrapper {
    margin: 2rem 0;
}
