.ratingObject {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    justify-content: center;
}
.ratesWrapper {
    display: flex;
    flex-direction: row;
    height: 90px;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
}
.numbersRate {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.numbersRate > p {
    margin: 0;
    display: inline-flex;
    font-weight: 300;
    color: #6622d9;
}
.ratePerNumber {
    width: 17px;
    display: flex;
    background: linear-gradient(352.93deg, #ff794d 13.55%, #5d22dc 85.02%);
    border-radius: 100px;
    margin: 0 5px;
}

.animatedRect {
    height: 0;
    y: 82;
    transition: height 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
