.registerTextBox {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 330px;
}

.registerTextBox h5 {
    opacity: 0;
    font-size: 2rem;
    margin: 1rem;
    transition: 1s ease-in-out;
}

.registerTextBox .Icon {
    opacity: 0;
    margin: 0 auto;
    transition: 1s ease-in-out;
    color: #ff794d;
}

.registerTextBox p {
    opacity: 0;
    font-size: 1.2rem;
    transition: 1s ease-in-out;
    transition-delay: 0.2s;
}

.registerTextBox button {
    background-color: #ff794d !important;
    opacity: 0;
    transition: 1s ease-in-out;
}

.show-button {
    opacity: 1 !important;
}
